/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1261px) {
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }

    .services-row {
        padding: 0;
        margin: 0 0 0 5vw;
    }

    .span-1-of-3 {
        width: 50%;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    html,
    body {
        font-size: 16px;
    }
    section {
        padding: 60px 0;
    }

    /* .services-row {
        padding: 0;
        margin: 0 0 0 5vw;
    } */

    .span-1-of-2 {
        width: 100%;
    }

    .span-1-of-2 iframe {
        margin: 40px 10vw;
    }

    .span-1-of-3 {
        width: 50%;
        margin-left: -1%;
        padding-right: 25px;
    }

    .trainers-section {
        height: 100vh;
    }

    .trainers-section .span-1-of-4 {
        text-align: center;
        width: 20%;
        margin: 0 2% 0;
        /* margin-left: 0.2%; */
        padding: 15px;
    }

    .statistic-section {
        height: 80vh;
    }

    .statistic-section .span-1-of-4 {
        width: 20vw;
    }


    .section-testimonials .span-1-of-3 {
        width: 100%;
    }

    .contact-row .col {
        width: 100%;
        margin-left: -1%;
    }


    .subscription-section .col {
        width: 100%;
        margin-left: -1%;
    }

    .footer-section .contact-info li {
        letter-spacing: 1px;
        word-spacing: 1px;
    }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    html,
    body {
        font-size: 16px;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    .hide-hamburger {
        display: none;
    }
    
    .nav-row {
        position: relative; 
        background-color: black ;
        height: 100%;
        z-index: 999;
    }

    .main-nav {
        top: 25vh;
        right: 40vw;
        position: relative;
        margin-top: 30px;
        margin-left: 25px;
        z-index: 999;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    section {
        padding: 30px 0;
    }

    .header-text-box {
        width: 100%;
        padding: 0 4%;
    }

    .statistic-section .span-1-of-4 h2 {
        font-size: 1.2rem;
    }

    .statistic-section h2::after {
        height: 0;
        margin: 20;
        padding: 0;
    }

    .statistic-section .row .col {
        border: 0;
    }

    
    .statistic-section .span-1-of-4 h4 {
        font-size: 1rem;
    }

    .row {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .services-row .col {
        width: 60%;
        margin: 0 0 10px 16vw;
    }

    .footer-section .col {
        width: 50%;
    }


}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 500px) {
    section {
        padding: 25px 0;
    }

    h1 {
        font-size: 2rem;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .iframe-col {
        width: 0px;
        height: 0px;
    }

    .footer-section .col {
        width: 100%;
    }
}
